html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .page-header {
    position: fixed;
    top: 0%;
    width: 100%;    
    
    text-align: center;            
    background-color: #78c1e5;
    color: white;
    z-index: 2;
  }

  h1 {
    font-size: 18px;
    font-weight: 100;
  }

  h2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-align: center;   
  }

  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
  } 

   #camera--trigger{         
    width: 150px;
    height: 150px;
    background-color: #78c1e5;
    color: white;      
    border-radius: 100px;
    border: none;
    padding: 1%;
    text-align: center;      
    position: fixed;    
    bottom: 8%;  
    left: calc(50% - 75px);
  } 

  #camera--trigger img {    
    opacity: 1;    
  }  

  #detail-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    z-index: 1;    
  }  
  
  .details-text {      
    color: black;        
    text-align: justify;
    padding: 0 5% 0 5%;            
  }

  .details-icon {
    width: 18px;
    height: 18px;    
    padding: 5px;
    border-radius: 25px;
    background-color: #78c1e5;
    opacity: 0.8;    
    vertical-align: middle;
  }

  #details-image {
    width: 100%;    
  }

  #details-name {    
    display: none;
    margin-top: 20px;
    font-size: 36px;
  }

  #details-parent {  
    display: none;
    margin-top: 20px;
    font-size: 18px;    
  }  

  #details-parent span {    
    margin-left: 3%;
    font-weight: 900;
    
  }

  #details-description { 
    display: none;
    margin-top: 20px;
    font-size: 18px;
  }

  #details-description span {    
    font-weight: 900;
  }

  #details-certainty {    
    display: none;
    margin-top: 20px;
    font-size: 18px;
  }

  #details-certainty span {
    margin-left: 3%;
    font-weight: 900;
  }