html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .page-header {
    position: fixed;
    top: 0%;
    width: 100%;    
    
    text-align: center;            
    background-color: #78c1e5;
    color: white;
    z-index: 1;
  }

  h1 {
    font-size: 18px;
    font-weight: 100;
  }

  h2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-align: center;   
  }

  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
  } 

   #camera--trigger{         
    width: 150px;
    height: 150px;
    background-color: #78c1e5;
    color: white;      
    border-radius: 100px;
    border: none;
    padding: 1%;
    text-align: center;      
    position: fixed;    
    bottom: 8%;  
    left: calc(50% - 75px);
  } 

  #camera--trigger img {    
    opacity: 1;    
  }  